/* App.css or index.css */
.container, .container-fluid {
  max-width: 100vw !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}